.stars{
    color: #17abb3;
}
.square{
    list-style-type: none;
    padding-left: 20px;
}
.square li {
    position: relative;
    margin-bottom: 15px;
    
  }
.square li::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #17abb3;
}
